<html>
    <head>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@healthcarecards">
        <meta name="twitter:creator" content="@goinvo">
        <meta name="twitter:title" content="{{page.card_name}}">
        <meta name="twitter:description" content="{{{page.desc}}}">
        <meta name="twitter:image" content="http://bsalinas.com/public/images/{{page.img}}">
    </head>
    <body>
        <h1>{{page.card_name}}</h1>
        {{page.desc}}
        <img src="../images/{{page.img}}"/>
    </body>
</html>
